<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="As Europe emerges from lockdown and the successful vaccination campaign fills us with optimism for the future, the Ecole Supérieure d'Art et Design Saint-Etienne (ESADSE), in collaboration with the Estonian Academy of Art (EKA) and the Hochschule für Gestaltung Schwäbisch-Gmünd (HfG), its international partners, takes this opportunity to reflect on the past year and a half and contemplate the reinvention of art and design education in a post-Covid era. To address these crucial questions, the Digital Tools for Creative Collaboration project was initiated, co-funded by the Erasmus Program of the European Commission, with the Bureau of Design Associations (BEDA) as an associated partner.">
    <title>Digital Tools for Collective Creative Practices: A Pedagogical Approach to Art and Design Collaboration</title>
    <link rel="author" href="humans.txt" />
    <link rel="robot" href="robots.txt" />
    <link rel="stylesheet" href="{{'/assets/style.css' | url }}" />
    <script src="{{ '/assets/js/main.js' | url }}"></script>
  </head>

  <body>