<div class="internal-navigation">

    {% set navPages = collections.all | eleventyNavigation %}

    <ul>
    {%- for entry in navPages %}
    
        {% if entry.url == page.url %}
            
            <ul>
            {%- for entry in entry.children %}

                <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>

            {%- endfor -%}
            </ul>

        {% else %}

            {{ page | log }}

            {{ entry.children | log }}

        {% endif %}


    {%- endfor -%}
    </ul>


</div>