{% include "../components/header.njk" %}

        <a href="/">{% include "../components/logo.njk" %}</a>

          
        {% include "../components/navigation.njk" %}

        {% include "../components/sideNavigation.njk" %}

        <main class="container">

            <div class="videos">
                {{ content | safe }}
            </div>      
        </main>
    
{% include "../components/footer.njk" %}
